<!DOCTYPE html>
<html xmnls:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="ISO-8859-1" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}"/>
</head>

</head>

<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
			<a class="navbar-brand" href="#">Support Virtualization</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarsExampleDefault"
				aria-controls="#navbarsExampleDefault" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="#about"
						th:href="@{/listarRequest}">RequestMap</a></li>
				</ul>
			</div>
		</nav>

		<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
		<div class="alert alert-danger"  th:if="${error   != null}" th:text="${error}">  </div>
		<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
		<div class="alert alert-info"    th:if="${info    != null}" th:text="${info}">   </div>		

	</header>
	<div class="container"></div>
	<footer th:fragment="footer" class="container">
			<hr />
		<p>
			Powered by <a href="https://projects.spring.io/spring-boot/">Spring
				Boot</a> y <a href="http://www.thymeleaf.org">Thymeleaf</a>.
		</p>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Bootstrap JS -->
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
	</footer>
</body>
</html>