<!DOCTYPE html>
<html xmnls:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>


<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/addForm}" th:object="${requestMap}"
					method="post">

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Id</label>
						<div class="col-sm-10">
							<input type="text" th:field="*{id}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger" th:if="${#fields.hasErrors('id')}"
								th:errors="*{id}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">RequestType</label>
						<div class="col-sm-10">
							<select th:field="*{requestType}" class="form-control">
								<option value="OK">OK</option>
								<option value="NOK">NOK</option>
								<option value="TIMEOUT">TIMEOUT</option>
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('requestType')}"
								th:errors="*{requestType}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">DialogType</label>
						<div class="col-sm-10">
							<select th:field="*{dialogType}" class="form-control">
								<option value="SA1">SA1</option>
								<option value="SA2">SA2</option>
								<option value="STD2">STD2</option>
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('dialogType')}"
								th:errors="*{dialogType}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 control-label">TimeOutValue</label>
						<div class="col-sm-10">
							<input type="number" th:field="*{timeOutValue}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('timeOutValue')}"
								th:errors="*{timeOutValue}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Request</label>
						<div class="col-sm-4">
							<textarea rows="10" cols="50" th:field="*{request}"
								class="form-control" th:errorclass="'form-control alert-danger'"> </textarea>
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('request')}" th:errors="*{request}"></small>
						</div>
						<label class="col-sm-2 col-form-label">Response</label>
						<div class="col-sm-4">
							<textarea rows="10" cols="50" th:field="*{response}"
								class="form-control" th:errorclass="'form-control alert-danger'"> </textarea>
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('response')}" th:errors="*{response}"></small>
						</div>
					</div>

					<input type="submit" value="Crear" class="btn btn-primary" />
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>