<!DOCTYPE html>
<html xmnls:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-primary btn-xs" th:href="@{/addForm}">Add</a>
				</h4>

				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th>Id</th>
							<th>Request</th>
							<th>Response</th>
							<th>RequestType</th>
							<th>DialogType</th>
							<th>TimeOutValue</th>
							<th>Edit</th>
							<th>Remove</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="req: ${listReq}">
							<td th:text="${req.id}"></td>
							<td th:text="${req.request}"></td>
							<td th:text="${req.response}"></td>
							<td th:text="${req.requestType}"></td>
							<td th:text="${req.dialogType}"></td>
							<td th:text="${req.timeOutValue}"></td>
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/upForm/}+${req.id}" th:text="'edit'"></a></td>
							<td><a class="btn btn-danger  btn-xs"
								th:href="@{/delete/}+${req.id}" th:text="'remove'"
								onclick="return confirm('Sure you want to delete?');"></a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>